.sidebar {
  width: 10%;
  float: left;
  background-color: #e5e6e8;
}

.welcome {
  border: 2px gray;
  padding: 10px;
  display: block;
}

h1 {
  font-size: 250%;
}

.feature {

}

h2 {
  font-size: 150%;
}

p {
  font-size: 100%
}

.know {
  
}
